<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="storage:account:name" value="absensistorage"/>
    <add key="storage:account:key" value="KhusHGQTGxLY1khT0JvWxjc83jOCsP7JLf7mhSbd9yN6xp98nMlnUcvKdgOJ2NJBTFlkfLMLK89XCOLdZTVB3A=="/>
  </appSettings>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
       <!--  <add name="Access-Control-Allow-Origin" value="*" /> -->
         <!-- <add name="Access-Control-Allow-Origin" value="http://localhost:3000/" /> -->
        <!-- <add name="Access-Control-Allow-Headers" value="Content-Type" />-->
        <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS" />
         <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept, Authorization" />
        <add name="Access-Control-Allow-Credentials" value="true" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>

</configuration>