<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="storage:account:name" value="eworkplacestorageaccount"/>
    <add key="storage:account:key" value="PDKt7L4umbhY+BZtqECtya2IkVgBtoF23r+fYaP8YEj/c/N6lkd4dMZYvEa24OjxO3SvQblEKkCXbRq80lcdEg=="/>
  </appSettings>
<system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="Access-Control-Allow-Origin" value="*" />
          <add name="Access-Control-Allow-Headers" value="Content-Type" />
          <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS" />
         <add name="Access-Control-Allow-Credentials" value="true" />
        </customHeaders>
      </httpProtocol>
  </system.webServer>
</configuration>
